<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">csi_ID</th>
            <th scope="col">date</th>
            <th scope="col">logs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employee">
            <td>{{ emp.csi_ID }}</td>
            <td>{{ emp.date }}</td>
            <td>{{ emp.logs }}</td>
          </tr>
        </tbody><br><br>
      </table>
    </div>
  </div>